@model WorkStoriesViewModel.Story
@{
    var isDashboard = Context.Request.IsDashboard();

    var isInProgress = ViewData["IsInProgress"] as bool? ?? false;
}

<div class="col-lg-6 pl-2 pr-2 pt-1 pb-1">
    <div class="card @(!isInProgress ? "card-outline-success" : "card-outline-secondary") h-100">
        <h3 class="card-header d-flex h6 @(!isInProgress ? "bg-inverse text-white" : "small") p-2">
            <small class="align-self-center">
                <code>@Model.Id</code>
            </small>
            
            <span class="flex-1 pl-2">
                @Model.Title
            </span>
            
            @if (Model.IsBug)
            {
                <span class="badge badge-danger align-self-center">
                    <icon value="bug" />
                </span>
            }
        </h3>

        <div class="card-block pl-2 pr-2 pt-1 pb-1 @(isInProgress ? "bg-faded" : null)">
            <div class="d-flex">
                <div class="d-flex flex-1">
                    @if (!string.IsNullOrWhiteSpace(Model.MemberImageUrl))
                    {
                        <img src="@Url.ApiFile(Model.MemberImageUrl)" class="teamboard-player-image rounded align-self-center mr-2"/>
                    }
                    <div class="align-self-center">
                        <h4 class="m-0 align-self-center one-line h6" title="@Model.MemberId">
                            @Model.MemberDisplayName
                        </h4>

                        @if (Model.ClosedDate != null)
                        {
                            @Model.ClosedDate.Value.ToString("yyyy-MM-dd")
                        }
                    </div>
                </div>

                @if (!isInProgress && Model.Assists.Any())
                {
                    <div class="align-self-start text-muted">
                        @foreach (var assist in Model.Assists)
                        {
                            var isFirst = assist.Name == Model.Assists.Select(x => x.Name).First();

                            <div class="d-flex flex-row bg-faded border-gray-1 rounded p-1 @(!isFirst ? "mt-1" : null)">
                                @if (!string.IsNullOrWhiteSpace(assist.MemberImageUrl))
                                {
                                    <img src="@Url.ApiFile(assist.MemberImageUrl)"
                                         class="teamboard-player-image rounded align-self-center mr-2"
                                         style="max-height: 22px; max-width: 22px;"/>
                                }
                                <div class="align-self-center">
                                    <h4 class="m-0 align-self-center one-line h6 small">
                                        @assist.Name
                                    </h4>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>