@model WorkStoriesViewModel.Story
@{
    var isDashboard = Context.Request.IsDashboard();

    var isInProgress = ViewData["IsInProgress"] as bool? ?? false;

    const string storyCssClass = "col-lg-6 col-md-12";
}

<div class="@storyCssClass p-2">
    <div class="card @(!isInProgress ? "card-outline-success" : "card-outline-secondary") h-100">
        <h3 class="card-header @(!isInProgress ? "h5 bg-inverse text-white" : "h6") pl-2 pr-2 pb-2 pt-1">
            <small>
                <code>@Model.Id</code>
            </small>

            @Model.Title
        </h3>

        <div class="card-block pl-2 pr-2 pt-1 pb-1 @(isInProgress ? "bg-faded" : null)" title="@Model.MemberId">
            <div class="d-flex">
                @if (!string.IsNullOrWhiteSpace(Model.MemberImageUrl))
                {
                    <img src="@Url.ApiFile(Model.MemberImageUrl)" class="teamboard-player-image rounded align-self-center mr-2"/>
                }
                <div class="align-self-center">
                    <h4 class="m-0 align-self-center one-line  @(!isInProgress ? "h5" : "h6")">
                        @Model.MemberDisplayName
                        
                        @if (Model.ClosedDate != null)
                        {
                            <small>@Model.ClosedDate.Value.ToString("yyyy-MM-dd")</small>
                        }
                    </h4>
                </div>
            </div>
        </div>

        @if (!isInProgress && Model.Assists.Any())
        {
            <div class="card-footer pl-0 pr-2 pt-1 pb-1 text-muted small">
                <div class="d-flex">
                    @foreach (var assist in Model.Assists)
                    {
                        if (!string.IsNullOrWhiteSpace(assist.MemberImageUrl))
                        {
                            <img src="@Url.ApiFile(assist.MemberImageUrl)"
                                 class="teamboard-player-image rounded align-self-center ml-2 mr-2"
                                 style="max-height: 22px; max-width: 22px;"/>
                        }
                        <div class="align-self-center">
                            <h4 class="m-0 align-self-center one-line h6">
                                @assist.Name
                            </h4>
                        </div>
                    }
                </div>
                </div>
        }
    </div>
</div>