@model WorkActivityViewModel
@{
    var isDashboard = Context.Request.IsDashboard();

    var requestQuery = Context.Request.Query;
    var projectId = requestQuery["projectId"];
    var teamId = requestQuery["teamId"];
    var iterationId = requestQuery["iterationId"];

    var dateText = $"{Model.FromDate:yyyy-MM-dd} - {Model.ToDate:yyyy-MM-dd}";
}

@section scripts {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/work-activity.js"></script>
}

<div class="activity-container main-container @(!isDashboard ? "container" : "container-fluid")"
     data-qs-iteration-id="@requestQuery["iterationId"]"
     data-qs-project-id="@requestQuery["requestId"]"
     data-qs-team-id="@requestQuery["teamId"]"
     data-from-date="@Model.FromDate.ToEpoch()"
     data-to-date="@Model.ToDate.ToEpoch()"
     data-member-max-commits="@(Model.Authors.Any() ? Model.Authors.Max(ac => ac.MaxCommitsPerDay) ?? 0 : 0)"
     data-member-max-changes="@(Model.Authors.Any() ? Model.Authors.Max(ac => ac.MaxChangePerDay) : 0)">
<h1 class="h2">
    <icon value="@Icons.Activity"/>
    <strong>Activity</strong>@(!string.IsNullOrWhiteSpace(Model.IterationName) ? $": {Model.IterationName}" : null)

    @if (!isDashboard)
    {
        <a href="@Url.WorkActivity(projectId, teamId, iterationId, true)"
           class="btn btn-outline-success btn-sm">
            <icon value="@Icons.Dashboard"/>
            Dashboard
        </a>
        <a href="@Url.WorkTeamBoard(projectId, teamId, iterationId)"
           class="btn btn-warning btn-sm">
            <icon value="@Icons.TeamBoard"/>
            Team board
        </a>
    }

    @if (!string.IsNullOrWhiteSpace(dateText))
    {
        <small>@dateText</small>
    }
</h1>

@if (Model.Commits.Any())
{
    <div class="@(isDashboard ? "row" : null)">
        <div class="@(isDashboard ? "col-xl-6" : null)">
            <div class="card card-outline-primary">
                <h2 class="card-header card-primary text-white h6 pt-1 pb-1 pl-2 pr-2">
                    Team activities
                </h2>
                <div class="card-block p-2">
                    <div class="d-flex flex-row text-center">
                        <div class="d-flex flex-column">
                            <stat value="@(Model.Authors.Any() ? Model.Authors.Sum(ac => ac.CommitCount).ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                <icon value="@Icons.Commit"/> Commits
                            </stat>
                            <stat value="@(Model.Authors.Any() ? Model.Authors.Sum(ac => ac.CommitsTotalChangeCountSum).ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                <icon value="@Icons.Change"/> Changes
                            </stat>
                        </div>

                        <div class="w-100">
                            <div id="team-activities-chart" style="height: 300px;"></div>
                        </div>

                        <div class="d-flex flex-column">
                            <stat value="@(Model.Authors.Any() ? Model.Authors.Average(ac => ac.CommitsTotalChangeCountSum / ac.CommitCount).ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                Avg <icon value="@Icons.Change"/>/<icon value="@Icons.Commit"/>
                            </stat>
                            <stat value="@(Model.Authors.Any() ? Model.Authors.SelectMany(ac => ac.Commits).Max(c => c.Commit.TotalChangeCount).ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                Most <icon value="@Icons.Change"/>/<icon value="@Icons.Commit"/>
                            </stat>
                            <stat value="@(Model.Authors.Any() ? Model.Authors.SelectMany(ac => ac.Commits).GroupBy(c => (c.Commit.AuthorDate ?? DateTime.MinValue).Date).Max(g => g.Count()).ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                Most <icon value="@Icons.Commit"/>/day
                            </stat>
                            <stat value="@(Model.Authors.Any() ? Model.Authors.SelectMany(ac => ac.Commits).GroupBy(c => (c.Commit.AuthorDate ?? DateTime.MinValue).Date).Max(g => g.Sum(x => x.Commit.TotalChangeCount)).ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                Most <icon value="@Icons.Change"/>/day
                            </stat>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="@(isDashboard ? "col-xl-6" : "mt-3")">
            <div class="card card-outline-info">
                <h2 class="card-header card-info text-white h6 pt-1 pb-1 pl-2 pr-2">
                    Team done efforts
                </h2>

                <div class="card-block p-2">
                    <div class="d-flex flex-row text-center">
                        <div class="d-flex flex-column">
                            <stat value="@(Model.LastEffortDone != null ? Model.LastEffortDone.Value.ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                <icon value="@Icons.EffortDone"/>
                                Effort done
                            </stat>
                            <stat value="@(Model.EffortDonePerMember != null ? Model.EffortDonePerMember.Value.ToString(Formats.NumberThreeDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                <icon value="@Icons.EffortDone"/>/member
                            </stat>
                            <stat value="@(Model.EffortDonePerDay != null ? Model.EffortDonePerDay.Value.ToString(Formats.NumberThreeDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                <icon value="@Icons.EffortDone"/>/day
                            </stat>
                            <stat value="@(Model.MaxEffortDonePerDay != null ? Model.MaxEffortDonePerDay.Value.ToString(Formats.NumberTwoDecimals) : "-")"
                                  is-inverse="true" class="pl-1 pr-1">
                                Max <icon value="@Icons.EffortDone"/>/day
                            </stat>
                        </div>

                        <div class="w-100">
                            <div id="team-done-efforts-chart" class="w-100" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-outline-success mt-3">
        <h2 class="card-header card-success text-white h6 pt-1 pb-1 pl-2 pr-2">Members activities</h2>
        <div class="card-block p-2">
            <div class="d-inline-flex flex-row flex-wrap align-items-stretch text-center">
                @foreach (var authorCommit in Model.Authors)
                {
                    var author = authorCommit.Author;

                    <div class="@(isDashboard ? "col-xl-3" : null) col-lg-4 col-md-6 col-sm-12 mt-1 mb-1 pl-2 pr-2">
                        <div class="card" style="border-color: #333;">
                            <div class="card-header h3 pt-1 pb-1 pl-2 pr-2">
                                <div class="d-inline-flex flex-row w-100" style="min-height: 44px;">
                                    @if (!string.IsNullOrWhiteSpace(author.MemberImageUrl))
                                    {
                                        <img src="@Url.ApiFile(author.MemberImageUrl)" class="teamboard-player-image rounded align-self-center mr-2"/>
                                    }
                                    <h2 class="m-0 align-self-center one-line" title="@author.MemberUniqueName">
                                        @author.MemberDisplayName
                                    </h2>
                                </div>
                            </div>
                            <div class="card-block p-0">
                                <div class="d-flex flex-row align-items-stretch">
                                    @if (!isDashboard)
                                    {
                                        <div class="d-flex flex-column">
                                            <stat value="@authorCommit.CommitCount.ToString(Formats.NumberTwoDecimals)"
                                                  description-css="mb-0" is-inverse="true">
                                                <small>
                                                    <icon value="@Icons.Commit"/> Commits
                                                </small>
                                            </stat>
                                            <stat value="@authorCommit.CommitsTotalChangeCountSum.ToString(Formats.NumberTwoDecimals)"
                                                  description-css="mb-0" is-inverse="true">
                                                <small>
                                                    <icon value="@Icons.Change"/> Changes
                                                </small>
                                            </stat>
                                        </div>
                                    }

                                    <div class="activity-member-activity w-100" data-member-id="@author.MemberId"
                                         style="height: 150px;">
                                    </div>

                                    <div class="d-flex flex-column">
                                        <stat value="@(authorCommit.AverageChangePerCommit != null ? authorCommit.AverageChangePerCommit.Value.ToString(Formats.NumberTwoDecimals) : "-")"
                                              description-css="mb-0" is-inverse="true">
                                            <small>
                                                Avg <icon value="@Icons.Change"/>/<icon value="@Icons.Commit"/>
                                            </small>
                                        </stat>

                                        <stat value="@(authorCommit.AverageChangePerCommit != null ? authorCommit.AverageChangePerCommit.Value.ToString(Formats.NumberTwoDecimals) : "-")"
                                              description-css="mb-0" is-inverse="true">
                                            <small>
                                                Most <icon value="@Icons.Change"/>/<icon value="@Icons.Commit"/>
                                            </small>
                                        </stat>

                                        @if (!isDashboard)
                                        {
                                            <stat value="@(authorCommit.MaxCommitsPerDay != null ? authorCommit.MaxCommitsPerDay.Value.ToString(Formats.NumberTwoDecimals) : "-")"
                                                  description-css="mb-0" is-inverse="true">
                                                <small>
                                                    Most <icon value="@Icons.Commit"/>/day
                                                </small>
                                            </stat>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    if (!isDashboard)
    {
        @Html.Partial("Activity/_Repos", Model.Repos)

        @Html.Partial("Activity/_Authors", Model.Authors)

        @Html.Partial("Activity/_Commits", Model.Commits)
    }
}
else
{
    <div class="card card-outline-info text-center">
        <em>No activities</em>
    </div>
}
</div>