@model WorkActivityViewModel
@{
    var isDashboard = Context.Request.IsDashboard();

    var requestQuery = Context.Request.Query;

    var dateText = $"{Model.FromDate:yyyy-MM-dd} - {Model.ToDate:yyyy-MM-dd}";
}

@section scripts {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/work-activity.js"></script>
}

<div class="activity-container main-container container"
     data-qs-iteration-id="@requestQuery["iterationId"]"
     data-qs-project-id="@requestQuery["requestId"]"
     data-qs-team-id="@requestQuery["teamId"]"
     data-from-date="@Model.FromDate.ToEpoch()"
     data-to-date="@Model.ToDate.ToEpoch()"
     data-member-max-commits="@(Model.Authors.Any() ? Model.Authors.Max(ac => ac.MaxCommitDayCount) : 0)"
     data-member-max-changes="@(Model.Authors.Any() ? Model.Authors.Max(ac => ac.MaxChangeDayCount) : 0)">
<h1 class="h2">
    <strong>Activity</strong>@(!string.IsNullOrWhiteSpace(Model.IterationName) ? $": {Model.IterationName}" : null)

    @if (!isDashboard)
    {
        <a href="@Url.WorkActivity(requestQuery["projectId"], requestQuery["teamId"], requestQuery["iterationId"], true)"
           class="btn btn-info btn-sm">
            @Html.Icon(Icons.Dashboard, "fa-fw")
            Dashboard
        </a>
        <a href="@Url.WorkLeaderboard(requestQuery["projectId"], requestQuery["teamId"], requestQuery["iterationId"])"
           class="btn btn-outline-warning btn-sm">
            Leaderboard
        </a>
    }
</h1>

<div class="card card-outline-primary">
    <h2 class="card-header card-primary text-white h6 pt-1 pb-1 pl-2 pr-2">
        Team activities
        @if (!string.IsNullOrWhiteSpace(dateText))
        {
            <small>@dateText</small>
        }
    </h2>
    <div class="card-block p-2">
        <div class="d-flex flex-row text-center">
            @if (Model.Commits.Any())
            {
                <div class="d-flex flex-column align-self-center">
                    <dl class="text-center">
                        <dt class="font-weight-bold monospace">
                            @(Model.Authors.Any()
                                  ? Model.Authors.Sum(ac => ac.CommitCount).ToString(Formats.NumberTwoDecimals)
                                  : "-")
                        </dt>
                        <dd class="small">
                            <small class="one-line">@Html.Icon(Icons.Commit, "fa-fw") Commits</small>
                        </dd>
                        <dt class="font-weight-bold monospace">
                            @(Model.Authors.Any()
                                  ? Model.Authors.Sum(ac => ac.CommitsTotalChangeCountSum).ToString(Formats.NumberTwoDecimals)
                                  : "-")
                        </dt>
                        <dd class="small">
                            <small class="one-line">@Html.Icon(Icons.Change, "fa-fw") Changes</small>
                        </dd>
                    </dl>
                </div>

                <div class="w-100">
                    <div id="team-activities-chart" class="" style="height: 350px;"></div>
                </div>

                <div class="d-flex flex-column align-self-center">
                    <dl class="text-center">
                        <dt class="font-weight-bold monospace">
                            @(Model.Authors.Any()
                                  ? Model.Authors.Average(ac => ac.CommitsTotalChangeCountSum / ac.CommitCount).ToString(Formats.NumberTwoDecimals)
                                  : "-")
                        </dt>
                        <dd class="small">
                            <small class="one-line">Avg @Html.Icon(Icons.Change, "fa-fw")/@Html.Icon(Icons.Commit, "fa-fw")</small>
                        </dd>
                        <dt class="font-weight-bold monospace">
                            @(Model.Authors.Any()
                                  ? Model.Authors.SelectMany(ac => ac.Commits).Max(c => c.Commit.TotalChangeCount).ToString(Formats.NumberTwoDecimals)
                                  : "-")
                        </dt>
                        <dd class="small">
                            <small class="one-line">Most @Html.Icon(Icons.Change, "fa-fw")/@Html.Icon(Icons.Commit, "fa-fw")</small>
                        </dd>
                        <dt class="font-weight-bold monospace">
                            @(Model.Authors.Any()
                                  ? Model
                                      .Authors
                                      .SelectMany(ac => ac.Commits)
                                      .GroupBy(c => (c.Commit.AuthorDate ?? DateTime.MinValue).Date)
                                      .Max(g => g.Count())
                                      .ToString(Formats.NumberTwoDecimals)
                                  : "-")
                        </dt>
                        <dd class="break-word small">
                            <small class="one-line">Most @Html.Icon(Icons.Commit, "fa-fw")/day</small>
                        </dd>
                        <dt class="font-weight-bold monospace">
                            @(Model.Authors.Any()
                                  ? Model
                                      .Authors
                                      .SelectMany(ac => ac.Commits)
                                      .GroupBy(c => (c.Commit.AuthorDate ?? DateTime.MinValue).Date)
                                      .Max(g => g.Sum(x => x.Commit.TotalChangeCount))
                                      .ToString(Formats.NumberTwoDecimals)
                                  : "-")
                        </dt>
                        <dd class="break-word small">
                            <small class="one-line">Most @Html.Icon(Icons.Change, "fa-fw")/day</small>
                        </dd>
                    </dl>
                </div>
            }
            else
            {
                <div class="text-center align-self-center w-100">
                    <em>No commits</em>
                </div>
            }
        </div>
    </div>
</div>

@if (Model.Commits.Any())
{
    <div class="card card-outline-success mt-3">
        <h2 class="card-header card-success text-white h6 pt-1 pb-1 pl-2 pr-2">Members activities</h2>
        <div class="card-block p-2">
            <div class="d-inline-flex flex-row flex-wrap align-items-stretch">
                @foreach (var authorCommit in Model.Authors)
                {
                    var author = authorCommit.Author;

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-1 mb-1 pl-1 pr-1">
                        <div class="d-inline-flex flex-row w-100" style="min-height: 44px;">
                            @if (!string.IsNullOrWhiteSpace(author.MemberImageUrl))
                            {
                                <img src="@Url.ApiFile(author.MemberImageUrl)" class="leaderboard-player-image rounded align-self-center mr-2"/>
                            }
                            <h2 class="m-0 align-self-center one-line" title="@author.MemberUniqueName">
                                @author.MemberDisplayName
                            </h2>
                        </div>
                        <div class="d-flex flex-row text-center">
                            @if (!isDashboard)
                            {
                                <div class="d-flex flex-column align-self-center">
                                    <dl class="text-center">
                                        <dt class="font-weight-bold monospace">
                                            @authorCommit.CommitCount.ToString(Formats.NumberTwoDecimals)
                                        </dt>
                                        <dd class="small">
                                            <small class="one-line">@Html.Icon(Icons.Commit, "fa-fw") Commits</small>
                                        </dd>
                                        <dt class="font-weight-bold monospace">
                                            @authorCommit.CommitsTotalChangeCountSum.ToString(Formats.NumberTwoDecimals)
                                        </dt>
                                        <dd class="small">
                                            <small class="one-line">@Html.Icon(Icons.Change, "fa-fw") Changes</small>
                                        </dd>
                                    </dl>
                                </div>
                            }

                            <div class="activity-member-activity w-100" data-member-id="@author.MemberId"
                                 style="height: 150px;">
                            </div>

                            <div class="d-flex flex-column align-self-center">
                                <dl class="text-center">
                                    <dt class="font-weight-bold monospace">
                                        @(authorCommit.CommitCount > 0
                                              ? (authorCommit.CommitsTotalChangeCountSum / authorCommit.CommitCount).ToString(Formats.NumberTwoDecimals)
                                              : "-")
                                    </dt>
                                    <dd class="small">
                                        <small class="one-line">Avg @Html.Icon(Icons.Change, "fa-fw")/@Html.Icon(Icons.Commit, "fa-fw")</small>
                                    </dd>
                                    <dt class="font-weight-bold monospace">
                                        @(authorCommit.CommitCount > 0
                                              ? authorCommit.Commits.Max(c => c.Commit.TotalChangeCount).ToString(Formats.NumberTwoDecimals)
                                              : "-")
                                    </dt>
                                    <dd class="small">
                                        <small class="one-line">Most @Html.Icon(Icons.Change, "fa-fw")/@Html.Icon(Icons.Commit, "fa-fw")</small>
                                    </dd>
                                    @if (!isDashboard)
                                    {
                                        <dt class="font-weight-bold monospace">
                                            @(authorCommit.CommitCount > 0
                                                  ? authorCommit
                                                      .Commits
                                                      .GroupBy(c => (c.Commit.AuthorDate ?? DateTime.MinValue).Date)
                                                      .Max(g => g.Count())
                                                      .ToString(Formats.NumberTwoDecimals)
                                                  : "-")
                                        </dt>
                                        <dd class="small">
                                            <small class="one-line">Most @Html.Icon(Icons.Commit, "fa-fw")/day</small>
                                        </dd>
                                    }
                                </dl>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    if (!isDashboard)
    {
        @Html.Partial("Activity/_Repos", Model.Repos)

        @Html.Partial("Activity/_Authors", Model.Authors)

        @Html.Partial("Activity/_Commits", Model.Commits)
    }
}
</div>