@model WorkIterationViewModel

<div class="container mt-3">
    <h1>
        @if (Model.Result.IsBacklog)
        {
            <em class="small">Backlog: </em>
        }

        @Model.Result.IterationName

        @if (!Model.Result.IsBacklog)
        {
            <a href="@Url.WorkTeamBoard(Model.ProjectId, Model.TeamId, Model.IterationId)"
               class="btn btn-outline-warning btn-sm">
                Team board
            </a>
            <a href="@Url.WorkActivity(Model.ProjectId, Model.TeamId, Model.IterationId)"
               class="btn btn-outline-info btn-sm">
                Activity
            </a>
        }
    </h1>

    @Html.Partial("Iteration/_Header", Model)

    <hr/>

    <div class="iteration-work-iteration-items">
        @foreach (var item in Model.Result.Items)
        {
            @Html.PartialContent("Iteration/_Item", item, new { isBacklog = Model.Result.IsBacklog })
        }
    </div>
</div>