@model WorkLeaderboardViewModel

<div class="card card-outline-info small mt-0 mb-2">
    <h2 class="card-header card-info h6 pt-1 pb-1 pl-2 pr-2"
        title="@string.Join("\n", Model.TeamCapacity.IterationWorkDays.Select(x => x.ToString("yyyy-MM-dd")))">
        Overview
    </h2>
    @if (!Context.Request.IsDashboard())
    {
        <div class="card-block pt-1 pb-0 pl-2 pr-2">
            <dl class="row mb-0">
                <dt class="col-sm-3">
                    Team members
                </dt>
                <dd class="col-sm-1"
                    title="@string.Join("\n", Model.Players.Select(x => x.DisplayName).OrderBy(x => x))">
                    @Model.Players.Count(x => x.Capacity.TotalWorkDayCount > 0).ToString(Formats.NumberTwoDecimals)
                </dd>
                @if (!Model.TeamCapacity.WorkDays.SequenceEqual(Model.TeamCapacity.IterationWorkDays))
                {
                    <dt class="col-sm-3">
                        Iteration work days
                    </dt>
                    <dd class="col-sm-1"
                        title="@string.Join("\n", Model.TeamCapacity.IterationWorkDays.Select(x => x.ToString("yyyy-MM-dd")))">
                        @Model.TeamCapacity.IterationWorkDays.Count.ToString(Formats.NumberTwoDecimals)d
                    </dd>
                }
                @if (Model.TeamCapacity.TeamDaysOff.Any())
                {
                    <dt class="col-sm-3">
                        Team days off
                    </dt>
                    <dd class="col-sm-1"
                        title="@string.Join("\n", Model.TeamCapacity.TeamDaysOff.Select(x => x.ToString("yyyy-MM-dd")))">
                        @Model.TeamCapacity.TeamDaysOff.Count.ToString(Formats.NumberTwoDecimals)d
                    </dd>
                }
            </dl>
        </div>
    }
    <div class="card-block pt-1 pb-0 pl-2 pr-2">
        <dl class="row mb-0">
            @*@if (Model.Players.Any(x => x.Capacity.DailyPercent > 0))
            {
                <dt class="col-sm-3">
                    Average daily capacity
                </dt>
                <dd class="col-sm-1">
                    @Model.Players.Average(x => x.Capacity.DailyPercent).ToString(Formats.NumberTwoDecimals)%
                </dd>
            }*@
            <dt class="col-sm-3">
                Team work days
            </dt>
            <dd class="col-sm-1"
                title="@string.Join("\n", Model.TeamCapacity.WorkDays.Select(x => x.ToString("yyyy-MM-dd")))">
                @Model.TeamCapacity.WorkDays.Count.ToString(Formats.NumberTwoDecimals)d
            </dd>
            <dt class="col-sm-3">
                Total days capacity
            </dt>
            <dd class="col-sm-1">
                @Model.TotalWorkDayCount.ToString(Formats.NumberTwoDecimals)d
            </dd>
            <dt class="col-sm-3">
                Total hours capacity
            </dt>
            <dd class="col-sm-1">
                @Model.TotalHoursTotalCount.ToString(Formats.NumberTwoDecimals)h
            </dd>
        </dl>
    </div>
</div>