@model WorkTeamBoardViewModel
@{
    const string topStatsCssClass = "border-white-1 rounded";

    const string topStatsInfoCssClass = "border-white-1 rounded bg-info text-white";

    const string topStatsPrimaryCssClass = "border-white-1 rounded bg-primary text-white";

    const string scoreStatsCssClass = "flex-noshrink border-black-1 bg-faded rounded";
}

<div class="teamboard-meta mt-0 mb-2 p-1 text-center">
    <div class="d-flex flex-wrap align-items-start">
        <div class="flex-1 d-flex flex-row flex-wrap justify-content-start">
            <stat value="@Model.PlayersWithCapacity.Count.ToString(Formats.NumberOneDecimal)"
                  title="@string.Join("\n", Model.PlayersWithCapacity.Select(x => x.DisplayName))"
                  description="Team members"
                  class="@topStatsCssClass bg-faded"
                  value-css="h4 mb-0"/>

            @if (Model.TeamCapacity.TeamDaysOff.Any())
            {
                <stat value="@Model.TeamCapacity.IterationWorkDays.Count.ToString(Formats.NumberOneDecimal)d"
                      title="@string.Join("\n", Model.TeamCapacity.IterationWorkDays.Select(x => x.ToString("yyyy-MM-dd")))"
                      description="Iteration days"
                      class="@topStatsInfoCssClass"
                      value-css="h4 mb-0"/>

                <stat value="@Model.TeamCapacity.TeamDaysOff.Count.ToString(Formats.NumberOneDecimal)d"
                      title="@string.Join("\n", Model.TeamCapacity.TeamDaysOff.Select(x => x.ToString("yyyy-MM-dd")))"
                      description="Team days off"
                      class="@topStatsInfoCssClass"
                      value-css="h4 mb-0"/>
            }

            <stat value="@Model.TeamWorkDaysCountDisplay"
                  value-prefix="@Model.TeamWorkDaysCountRemainingDisplay"
                  value-suffix="d"
                  title="@string.Join("\n", Model.TeamCapacity.WorkDays.Select(x => x.ToString("yyyy-MM-dd")))"
                  description="Work days"
                  is-inverse="true"
                  class="@topStatsCssClass"
                  value-css="h4 mb-0 ml-1 mr-1"/>

            <stat value="@Model.TotalWorkDayCountDisplay"
                  value-prefix="@Model.TotalWorkDayCountRemainingDisplay"
                  value-suffix="d"
                  description="Days capacity"
                  title="@Model.TotalWorkDayCount.ToString(Formats.NumberTwoDecimals)"
                  class="@topStatsPrimaryCssClass"
                  value-css="h4 mb-0 ml-1 mr-1"/>

            <stat value="@Model.TotalHoursTotalCountDisplay"
                  value-prefix="@Model.TotalHoursTotalCountRemainingDisplay"
                  value-suffix="h"
                  description="Hours capacity"
                  title="@Model.TotalHoursTotalCount.ToString(Formats.NumberTwoDecimals)"
                  class="@topStatsPrimaryCssClass"
                  value-css="h4 mb-0 ml-1 mr-1"/>
        </div>

        <div class="teamboard-meta-score d-flex flex-row justify-content-end ml-5">
            @if (Model.UnassignedScore?.Points?.Any() ?? false)
            {
                <stat value="@Model.UnassignedScore.Points.Count.ToString(Formats.NumberNoDecimals)"
                      value-css="h4 mb-0"
                      description="Unassigned"
                      is-description-one-line="false"
                      class="small bg-warning text-white border-white-1 rounded align-self-center pl-1 pr-1"/>
            }

            <stat value="@Model.TotalScorePointsSumDisplay"
                  value-css="h1 mb-0"
                  is-description-small="false"
                  class="@scoreStatsCssClass">
                @Html.Icon(Icons.Point, "fa-fw fa-lg")
                Total Points
            </stat>
            <stat value="@Model.TotalScoreGoalsSumDisplay"
                  value-css="h1 mb-0"
                  is-description-small="false"
                  class="@scoreStatsCssClass">
                @Html.Icon(Icons.Goal, "fa-fw fa-lg")
                Total Goals
            </stat>
            <stat value="@Model.TotalScoreAssistsSumDisplay"
                  value-css="h1 mb-0"
                  is-description-small="false"
                  class="@scoreStatsCssClass">
                @Html.Icon(Icons.Assist, "fa-fw fa-lg")
                Total Assists
            </stat>
        </div>
    </div>
</div>