@model WorkTeamBoardViewModel.Player
@{
    var isDashboard = Context.Request.IsDashboard();

    var requestQuery = Context.Request.Query;
    var projectId = requestQuery["projectId"];
    var teamId = requestQuery["teamId"];
    var iterationId = requestQuery["iterationId"];

    var isFirst = ViewData["IsFirst"] as bool? ?? false;
    var isSecond = ViewData["IsSecond"] as bool? ?? false;
    var isThird = ViewData["IsThird"] as bool? ?? false;

    var playerCssClass = isFirst ? "teamboard-player-first" : (isSecond ? "teamboard-player-second" : (isThird ? "teamboard-player-third" : null));
}

<div class="teamboard-player-column @(Context.Request.IsDashboard() ? "col-xl-3" : null) col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="teamboard-player card @playerCssClass">
        @Html.Partial("TeamBoard/_PlayerMeta", Model)

        @if (Model.Score.Points.Any())
        {
            <div class="teamboard-player-points card card-outline-secondary pb-1">
                <h3 class="card-header h6 pt-1 pb-1 bg-inverse text-white">
                    Recent points
                    
                @if (!isDashboard)
                {
                    <a href="@Url.WorkTeamBoardMember(Model.Id, projectId, teamId, iterationId)"
                       class="btn btn-outline-secondary btn-xs text-white float-right">
                        See all <icon value="chevron-right" is-fixed-width="false" class="ml-1"/>
                    </a>
                }
                </h3>

                <ul class="teamboard-player-points-list list-group list-group-flush">
                    @foreach (var point in Model.Score.Points.Take(5))
                    {
                        <li class="list-group-item">
                            <span class="d-inline-flex flex-row align-items-center one-line"
                                 title="@($"[{point.Id}] {point.Description} ({point.EarnedAt:yyyy-MM-dd HH:mm:ss})")">
                                @Html.Partial("TeamBoard/_PlayerScorePoint", point)
                            </span>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>