@using VstsDash.AppServices
@model WorkTeamBoardViewModel.Player.PlayerScore.Point
@{
    var displayName = ViewData["DisplayName"] as string;
    var isRecentMode = ViewData["IsRecentMode"] as bool? ?? false;

    var isGoal = Model.Type == TeamMemberPointType.Goal;
    var isAssist = Model.Type == TeamMemberPointType.Assist;
    var className = isGoal ? Icons.Goal : (isAssist ? Icons.Assist : Icons.Point);
}

<span class="one-line">
    <span class="flex-noshrink">
        <span class="badge badge-success monospace">
            @(Model.Value > 0 ? Model.Value.ToString(Formats.NumberTwoDecimals) : "?")
        </span>
        
        <icon value="@className"/>

        <span class="badge badge-default monospace">@Model.Id</span>

        @if (!isRecentMode)
        {
            <span class="badge badge-primary monospace" title="@Model.EarnedAt.ToString("yyyy-MM-dd HH:mm")">
                @Model.EarnedAt.ToString("yyyy-MM-dd")
            </span>
        }

        @if (Model.HasBonus)
        {
            <span class="badge badge-success">
                <icon value="@Icons.Bonus"/>
            </span>
        }

        @if (!isRecentMode && !string.IsNullOrWhiteSpace(displayName))
        {
            @:<strong>@displayName:</strong>
        }
    </span>

    <span class="small ml-1">
        @Model.Description
    </span>
</span>