@using TModel = IReadOnlyCollection
@model IReadOnlyCollection<WorkActivityViewModel.CommitInfo>

<div class="card card-outline-secondary mt-3">
    <h2 class="card-header" data-toggle="collapse" data-target="#card-commits" role="button">
        Commits
    </h2>

    <div id="card-commits" class="card-block collapse">
        <ul>
            @foreach (var commitInfo in Model)
            {
                var author = commitInfo.Author;
                var commit = commitInfo.Commit;
                var repository = commitInfo.Repository;

                <li>
                    <small>
                        [@repository.RepositoryName] <strong>@author.MemberDisplayName</strong>:
                        @if (commit.AuthorDate != null)
                        {
                            <span class="monospace">@commit.AuthorDate?.ToString("yyyy-MM-dd HH:mm:ss")</span>
                        }
                        [<code title="@commit.CommitId">@commit.CommitId.Substring(0, 7)</code>]
                        (Changes: @commit.TotalChangeCount)
                    </small>

                    <span>
                        @commit.Comment
                    </span>
                </li>
            }
        </ul>
    </div>
</div>